<div class="comment">
	<%= raw(Rinku.auto_link(@parent_comment.content, :all, 'target="_blank"')) %><span class="comment-info">
	<% if @parent_comment.user %>
		<%=@parent_comment.user.username %>
	<% else %>
		<%= "anonymous" %>
	<% end %>
	</span>
</div>
<%= render "form" %>