<% if user_signed_in? %>
	<%= link_to raw("<i class='icon-circle-arrow-up'></i>"), upvote_path(post), :remote => "true", "data-type" => :json, :class => "upvote", :method => :post %>
<% else %>
	<%= link_to raw("<i class='icon-circle-arrow-up'></i>"), new_user_session_path %>
<% end %>
<p class="votes"><%= pluralize post.reputation_for(:votes).to_i, "vote" %></p><h6><%= link_to post.title, post %></h6>